<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

   <h1>Welcome to Home Page</h1>
  
    
    <a th:href="@{/new}">Login</a><br><br>
    <a th:href="@{/reg}">User Registration</a><br><br>
    <a th:href="@{/comregister}">Company Register</a><br><br>
    <a th:href="@{/adminreg}">Admin Register</a><br><br>
    <a th:href="@{/list}">UserList</a><br><br>
    <a th:href="@{/listc}">CompanyList</a><br><br>
    
    
</body>
</html>